.Chambres {
	background-color: #a3d393;
	padding-top: 20px;

	.list {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		padding: 30px;
		justify-content: center;


		div {
			margin: 5px;
		}

		.card {
			flex-direction: column;
			box-shadow: 0 0 2px #202020;
			padding: 5px;
			border-radius: 2px;

			img {
				width: 200px;
				height: 200px;
			}
		}
	}

	.textAligne {
		text-align: center;
	}
}

.slider {
	-webkit-appearance: none;
	width: 300px;
	height: 2px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.8;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #2196f3;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #2196f3;
	cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	box-shadow: 0 0 20px rgba(76,175,80,0.5);
	border-radius: 50%;
	background: #2196f3;
	cursor: pointer;
}

.slider::-moz-range-thumb:hover {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #266a28;
	box-shadow: 0 0 20px rgba(76,175,80,0.5);
	cursor: pointer;
}
.btnMarginRigth{
	.MuiFab-label {
		margin-right: 10px;
	}
}
.btnMarginLeft{
	.MuiFab-label {
		margin-left: 10px;
	}
}

.AllListChambre {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;

	div {
		width: 250px;
		margin: 5px;
	}

	.cardChambre {
		background-color: #fefefe;
		width: 100%;
		padding: 5px;
		&:hover{
			box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
			transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;
		}
		.MuiFab-extended.MuiFab-sizeSmall {
			border-radius: 3px;
		}

		img {
			width: 100%;
			&:hover{
				animation: scal 1s ease-in forwards;
			}
		}
		@keyframes scal {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.1);
			}
			100% {
				transform: scale(1.03);
			}
		}
	}
}



.loading {
	animation: slides3 1s ease-in forwards;
	animation-iteration-count: infinite;
}
@keyframes slides3 {
	0% {
		transform: scale(0.5);
		transform: opacity(0.5);
	}
	20% {
		transform: scale(1.9);
		transform: opacity(0.8);
	}
	30% {
		transform: scale(1);
		transform: opacity(0.5);
	}
	70% {
		transform: scale(1.5);
		transform: opacity(0.8);
	}
	100% {
		transform: scale(1.7);
		transform: opacity(0.5);
	}
}
