.GResponsables{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .AnnexGResponsables{
    display: flex;
    img{
      width: 160px;
      height: 160px;
    }
    .containtes{
      margin-left: 10px;
    }
    input{
      border-color: #fff;
      background-color: #fff;
      border-width: 0px;
      border-bottom: 1px solid #202020;
    }
    input:disabled{
      border-width: 0px;
    }
  }
}
